<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bridgefy.samples.chat">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <uses-library android:name="com.google.android.things" android:required="false" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Uncomment to launch activity automatically on boot for android-things-->
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->
            <!--<category android:name="android.intent.category.IOT_LAUNCHER"/>-->
            <!--<category android:name="android.intent.category.DEFAULT"/>-->
            <!--</intent-filter>-->

        </activity>

        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bridgefy.samples.chat.MainActivity" />
        </activity>

        <!-- Bridgefy SDK key -->
        <meta-data
            android:name="com.bridgefy.sdk.API_KEY"
            android:value="g6RkYXRh3ABMMjAyMC0xMi0xNlQxMDowNTo0NC4yMTVafDIwMjEtMDItMjdUMTU6MDY6MjMuMjYwWnxjb20uaWNhbS1saWxsZS5uaWdodC13YXRjaKlzaWduYXR1cmXcAQDMjcyLfmTM5My0TwxKEwrMlsyUDczdaRTMm2IczMbMnMyrTsyKBczHMh7Mqsz/zPPM3MyZzI5OLWdNaMzxeBZ4emHM7EJ/zO0JzIHMgMy1zPLMxFTMvszezKTMqczBzJvM2MzmzLPMkyzMkUTMj8zgzJlvzMNKzKTMw8yYzOXMhszmHRbMlAV9V25bFcy4X8yeZ8yczPXM9HbMlFPMlTrM/szsW8zCMMyZzJs3MczRzLvM7h7M2wJhzJzMt0DMtszpzOwKe8yNLUcvNHzMzQ7MoDchUAAqzKrM1ylAZEkXzKwlzLESzNLMnczWzP5wLEp2zILMm8ylzOvMhszGWW58zPbM8szsGiDM/czKfyDMo2waMGUxBEbM4syBE8zdU8ybFw3M82/MsUQmHsyQzO0wJczMzIpSQWLMzkjMt0tXzKZAJTx2Y8yVeczKzKdcQH7MjMzLzI5iZRzMr3I0UszozPPM/UJJzMbMk3nM3cy7IhbM3cz2zKU+zMBRTqNhZXOwWVNKdTREVWtpbWYwRi9Dbg==" />
    </application>
</manifest>
